@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PRODUCCIONES INTERNACIONALES S.A.</h1>
    <p class="lead">Producciones internaciones es un grupo, que se ha dedico a organizar eventos a todo público</p>

</div>


